@font-face {
    font-family: CommissionerT;
    src: url('../fonts/static/Commissioner-Thin.ttf');
}

@font-face {
    font-family: CommissionerEL;
    src: url('../fonts/static/Commissioner-ExtraLight.ttf');
}

@font-face {
    font-family: CommissionerL;
    src: url('../fonts/static/Commissioner-Light.ttf');
}

@font-face {
    font-family: CommissionerR;
    src: url('../fonts/static/Commissioner-Regular.ttf');
}

@font-face {
    font-family: CommissionerM;
    src: url('../fonts/static/Commissioner-Medium.ttf');
}

@font-face {
    font-family: CommissionerSB;
    src: url('../fonts/static/Commissioner-SemiBold.ttf');
}

@font-face {
    font-family: CommissionerB;
    src: url('../fonts/static/Commissioner-Bold.ttf');
}

@font-face {
    font-family: CommissionerEB;
    src: url('../fonts/static/Commissioner-ExtraBold.ttf');
}

@font-face {
    font-family: CommissionerBl;
    src: url('../fonts/static/Commissioner-Black.ttf');
}

