@use 'fonts';
@use 'colors';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

.app {
    position: relative;
    min-height: 3000px;
    display: grid;
    grid-template-rows: 1fr 4.4fr;
    background-color: hsl(0%, 0%, 98%);
    font-family: CommissionerR;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

/*---- HEADER -----*/

.header {
    position: relative;
    background-image: url("../images/image-hero-desktop.jpg");    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    
    &__navbar {
        display: flex;
        justify-content: space-between;
        padding: 3rem 11rem;
        z-index: 2;
        background: linear-gradient(rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);

    }

    &__logo,
    &__links {
        display: inline;
    }

    &__link {
        display: inline-block;
        padding-left: 2rem;
        color: white;
        font-size: 0.9rem;
        font-family: CommissionerB;
    }

    &__link a {
        z-index: 1;
        transition: all 0.2s;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            text-decoration-color: rgb(221, 220, 220);
        }
    }
}

/*----- MAIN CARDS -----*/

.container {
    position: relative;
    width: 48rem;
    height: 119rem;
    margin: 0 auto;
    top: -14rem;
    display: grid;
    grid-template-rows: 1.3fr 1fr 5.7fr;
    grid-row-gap: 1.56rem;

    & > * {
        border: 0.1rem solid hsl(0,0,96%);
        border-radius: 0.8rem;
        background-color: white;
        position: relative;
    }
}

/* TITLE CARD */
.title {
    display: grid;
    place-items: center;
    padding: 2.5rem 3rem 2rem 3rem;

    &__logo {
        position: absolute;
        top: -1.8rem;
    }

    &__heading {
        font-family: CommissionerB;
        font-size: 1.9rem;
    }

    &__subheading {
        align-self: start;
        font-size: 1.1rem;
        color: colors.$dark-gray;
    }

    &__btn-list {
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__btn-item {
        display: inline-block;
    }

    &__btn {
        height: 3.3rem;
        width: 13rem;
        border: none;
        border-radius: 2rem;
        background-color: #3cb4ac;
        color: white;
        font-family: CommissionerSB;
        font-size: 0.9rem;
        letter-spacing: 0.01rem;
        transition: all 0.2s;    

        &:hover {
            cursor: pointer;
            background-color: colors.$dark-cyan;
        }
    }

    &__bookmark {
        display: inline-block;
        position: relative;
        height: 3.3rem;
        width: 11rem;

        & input {
            display: none;
        }
    }

    &__toggle {
        position: absolute;
        cursor: pointer;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: hsl(0,0,90%);
        border-radius: 2rem;

        &::before {
            position: absolute;
            content: "";
            height: 3.3rem;
            width: 3.3rem;
            border-radius: 50%;
            background-image: url("../images/icon-bookmark.svg");
            background-size: cover;
        }

        &::after {
            position: absolute;
            content: "Bookmark";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 0.9rem;
            font-family: CommissionerSB;
            color: colors.$dark-gray;
            padding-left: 2.8rem;
        }
    }

    &__bookmark input:checked + &__toggle {
        background: colors.$light-cyan;
    }

    &__bookmark input:checked + &__toggle::before {
        background-image: url("../images/icon-bookmark-checked.svg");
    }

    &__bookmark input:checked + &__toggle::after {
        color: colors.$dark-cyan;
        content: "Bookmarked";
    }
}

/* PROGRESS CARD */
.progress {
    display: grid;
    place-items: center;
    padding: 2rem 3rem;

    &__stats {
        width: 100%;
        display: grid;
        grid-template-columns: 5fr 2fr 5fr 2fr 5fr;
    }

    &__stat {
        align-self: flex-start;
    }

    &__stat-head {
        font-family: CommissionerB;
        font-size: 2.2rem;
    }

    &__stat-subtitle {
        color: colors.$dark-gray;
        font-size: 1rem;
        margin-top: 0.4rem;
    }

    &__vline {
        height: inherit;
        width: 0.1rem;
        background-color: colors.$dark-gray;
        opacity: 0.15;
        margin-left: 1rem;
    }

    &__tracker {
        align-self: center;
        width: 100%;
    }

    &__slider {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 0.8rem;
        background: linear-gradient(to right, hsl(0%, 0%, 98%) 0%, colors.$moderate-cyan 100%);
        border-radius: 0.5rem;
        outline: none;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
        }
    }
}

/* ABOUT CARD */
.about {
    padding: 3.5rem 3rem;

    &__heading {
        font-family: CommissionerB;
        font-size: 1.2rem;
    }

    &__description {
        color: colors.$dark-gray;
        font-size: 1.03rem;
        line-height: 1.65rem;
        letter-spacing: 0.01rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    &__rewards {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 2rem;
        height: 57rem;
    }
}

/* REWARDS */
.reward {
    border: 0.1rem solid hsl(0,0,96%);
    border-radius: 0.8rem;
    padding: 2.5rem 2rem;
    position: relative;

    &--out {

        &::after {
            content: "";
            position: absolute;
            background-color: white;
            opacity: 0.6;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__header {
        font-family: CommissionerB;
        font-size: 1.25rem;
    }

    &__criteria {
        font-family: CommissionerM;
        color: colors.$moderate-cyan;
        font-size: 1rem;
    }

    &__description {
        margin: 1.5rem 0rem 2.3rem 0rem;
        color: colors.$dark-gray;
        font-size: 1.03rem;
        text-align: justify;
        letter-spacing: 0.01rem;
        line-height: 1.85rem;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        font-family: CommissionerB;
        font-size: 1.9rem;
    }

    &__left span {
        font-family: CommissionerR;
        font-size: 1rem;
        color: colors.$dark-gray;
        position: relative;
        bottom: 0.3rem;
        left: 0.35rem;
    }

    &__select {
        height: 3rem;
        width: 10.7rem;
        border-radius: 1.5rem;
        border: none;
        background-color: colors.$moderate-cyan;
        color: white;
        font-family: CommissionerM;
        font-size: 0.9rem;
        letter-spacing: 0.01rem;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            background-color: colors.$dark-cyan;
        }
    }
}

/* SUPPORT POP-UP CARD */
.support {
    width: 46rem;
    margin: 0 auto;
    padding: 3rem;
    border: 0.1rem solid hsl(0,0,96%);
    border-radius: 0.8rem;
    background-color: white;
    // position: absolute;
    opacity: 0;
    top: 20rem;
    left: 50%;
    transform: translate(-50%, 0%);

    &__header {
        font-family: CommissionerB;
    }

    &__description {

    }

    &__options {

    }
}
.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}