@font-face {
  font-family: CommissionerT;
  src: url("../fonts/static/Commissioner-Thin.ttf");
}
@font-face {
  font-family: CommissionerEL;
  src: url("../fonts/static/Commissioner-ExtraLight.ttf");
}
@font-face {
  font-family: CommissionerL;
  src: url("../fonts/static/Commissioner-Light.ttf");
}
@font-face {
  font-family: CommissionerR;
  src: url("../fonts/static/Commissioner-Regular.ttf");
}
@font-face {
  font-family: CommissionerM;
  src: url("../fonts/static/Commissioner-Medium.ttf");
}
@font-face {
  font-family: CommissionerSB;
  src: url("../fonts/static/Commissioner-SemiBold.ttf");
}
@font-face {
  font-family: CommissionerB;
  src: url("../fonts/static/Commissioner-Bold.ttf");
}
@font-face {
  font-family: CommissionerEB;
  src: url("../fonts/static/Commissioner-ExtraBold.ttf");
}
@font-face {
  font-family: CommissionerBl;
  src: url("../fonts/static/Commissioner-Black.ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

.app {
  position: relative;
  min-height: 3000px;
  display: grid;
  grid-template-rows: 1fr 4.4fr;
  background-color: #fafafa;
  font-family: CommissionerR;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/*---- HEADER -----*/
.header {
  position: relative;
  background-image: url("../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  padding: 3rem 11rem;
  z-index: 2;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.header__logo, .header__links {
  display: inline;
}
.header__link {
  display: inline-block;
  padding-left: 2rem;
  color: white;
  font-size: 0.9rem;
  font-family: CommissionerB;
}
.header__link a {
  z-index: 1;
  transition: all 0.2s;
}
.header__link a:hover {
  cursor: pointer;
  text-decoration: underline;
  -webkit-text-decoration-color: #dddcdc;
          text-decoration-color: #dddcdc;
}

/*----- MAIN CARDS -----*/
.container {
  position: relative;
  width: 48rem;
  height: 118rem;
  margin: 0 auto;
  top: -14rem;
  display: grid;
  grid-template-rows: 1.2fr 1fr 5.7fr;
  grid-row-gap: 1.56rem;
}
.container > * {
  border: 0.1rem solid whitesmoke;
  border-radius: 0.8rem;
  background-color: white;
  position: relative;
}

/* TITLE CARD */
.title {
  display: grid;
  place-items: center;
  padding: 2.5rem 3rem 2rem 3rem;
}
.title__logo {
  position: absolute;
  top: -1.8rem;
}
.title__heading {
  font-family: CommissionerB;
  font-size: 1.9rem;
}
.title__subheading {
  align-self: start;
  font-size: 1.1rem;
  color: #7a7a7a;
}
.title__btn-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title__btn-item {
  display: inline-block;
}
.title__btn {
  height: 3.3rem;
  width: 13rem;
  border: none;
  border-radius: 2rem;
  background-color: #3cb4ac;
  color: white;
  font-family: CommissionerSB;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  transition: all 0.2s;
}
.title__btn:hover {
  cursor: pointer;
  background-color: #147b74;
}
.title__bookmark {
  display: inline-block;
  position: relative;
  height: 3.3rem;
  width: 11rem;
}
.title__bookmark input {
  display: none;
}
.title__toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #e6e6e6;
  border-radius: 2rem;
}
.title__toggle::before {
  position: absolute;
  content: "";
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
  background-image: url("../images/icon-bookmark.svg");
  background-size: cover;
}
.title__toggle::after {
  position: absolute;
  content: "Bookmark";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  font-family: CommissionerSB;
  color: #7a7a7a;
  padding-left: 2.8rem;
}
.title__bookmark input:checked + .title__toggle {
  background: #f5f9fa;
}
.title__bookmark input:checked + .title__toggle::before {
  background-image: url("../images/icon-bookmark-checked.svg");
}
.title__bookmark input:checked + .title__toggle::after {
  color: #147b74;
  content: "Bookmarked";
}

/* PROGRESS CARD */
.progress {
  display: grid;
  place-items: center;
  padding: 2rem 3rem;
}
.progress__stats {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr 5fr 2fr 5fr;
}
.progress__stat {
  align-self: flex-start;
}
.progress__stat-head {
  font-family: CommissionerB;
  font-size: 2.2rem;
}
.progress__stat-subtitle {
  color: #7a7a7a;
  font-size: 1rem;
  margin-top: 0.4rem;
}
.progress__vline {
  height: inherit;
  width: 0.1rem;
  background-color: #7a7a7a;
  opacity: 0.15;
  margin-left: 1rem;
}
.progress__tracker {
  align-self: center;
  width: 100%;
}
.progress__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 0.8rem;
  background: linear-gradient(to right, #fafafa 0%, #3cb4ac 100%);
  border-radius: 0.5rem;
  outline: none;
}
.progress__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

/* ABOUT CARD */
.about {
  padding: 3.5rem 3rem;
}
.about__heading {
  font-family: CommissionerB;
  font-size: 1.3rem;
}
.about__description {
  color: #7a7a7a;
  font-size: 1.03rem;
  line-height: 1.7rem;
  letter-spacing: 0.01rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.about__rewards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 2rem;
  height: 57rem;
}

/* REWARDS */
.reward {
  border: 0.1rem solid whitesmoke;
  border-radius: 0.8rem;
  padding: 2.5rem 2rem;
  position: relative;
}
.reward--out::after {
  content: "";
  position: absolute;
  background-color: white;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.reward__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reward__header {
  font-family: CommissionerB;
  font-size: 1.25rem;
}
.reward__criteria {
  font-family: CommissionerM;
  color: #3cb4ac;
  font-size: 1rem;
}
.reward__description {
  margin: 1.6rem 0rem 2.3rem 0rem;
  color: #7a7a7a;
  font-size: 1.03rem;
  text-align: justify;
  letter-spacing: 0.01rem;
  line-height: 1.85rem;
}
.reward__footer {
  display: flex;
  justify-content: space-between;
}
.reward__left {
  font-family: CommissionerB;
  font-size: 1.9rem;
}
.reward__left span {
  font-family: CommissionerR;
  font-size: 1rem;
  color: #7a7a7a;
  position: relative;
  bottom: 0.3rem;
  left: 0.35rem;
}
.reward__select {
  height: 3rem;
  width: 10.7rem;
  border-radius: 1.5rem;
  border: none;
  background-color: #3cb4ac;
  color: white;
  font-family: CommissionerM;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  cursor: pointer;
  transition: all 0.2s;
}
.reward__select:hover {
  background-color: #147b74;
}

/* SUPPORT POP-UP CARD */
.support {
  width: 48rem;
  margin: 0 auto;
  padding: 3rem 3.5rem;
  border: 0.1rem solid whitesmoke;
  border-radius: 0.8rem;
  background-color: white;
  position: absolute;
  top: 12rem;
  left: 50%;
  transform: translate(-50%, 0%);
}
.support__exit {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.support__exit:hover {
  cursor: pointer;
}
.support__header {
  font-family: CommissionerB;
  font-size: 1.5rem;
}
.support__description {
  color: #7a7a7a;
  font-size: 1rem;
  margin: 1.5rem 0rem;
}
.support__options {
  display: grid;
  grid-template-rows: repeat(4, -webkit-fit-content);
  grid-template-rows: repeat(4, fit-content);
  grid-row-gap: 1.5rem;
}

/* PAYMENT OPTIONS */
.option {
  border: 0.1rem solid whitesmoke;
  border-radius: 0.8rem;
  padding: 2.5rem 1.8rem 1.3rem 1.8rem;
  position: relative;
  display: block;
  /* Hide default radio button */
  /* Create custom radio button */
}
.option > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.option__radio {
  position: absolute;
  top: 2.5rem;
  left: 1.8rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  border-radius: 50%;
  border: solid 0.15rem whitesmoke;
  z-index: 1;
  /* Color inside radio button once clicked */
}
.option__radio::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #3cb4ac;
  border-radius: 50%;
  display: none;
}
.option input:hover ~ .option__header--none, .option input:hover ~ .option__header--pledge > .option__header-container > .option__heading {
  color: #3cb4ac;
}
.option input:checked ~ .option__radio {
  background-color: white;
}
.option input:checked ~ .option__radio::after {
  display: block;
}
.option--out::after {
  content: "";
  position: absolute;
  background-color: white;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 2;
}
.option__header, .option__description {
  margin-left: 3rem;
}
.option__header {
  display: inline-block;
  font-size: 1rem;
}
.option__header--pledge {
  display: flex;
  justify-content: space-between;
}
.option__heading, .option__pledge {
  display: inline-block;
  font-family: CommissionerB;
}
.option__heading {
  font-size: 1rem;
}
.option__pledge {
  padding-left: 1.3rem;
  font-size: 0.9rem;
  color: #3cb4ac;
}
.option__left {
  font-family: CommissionerB;
  font-size: 1.3rem;
}
.option__left span {
  font-family: CommissionerR;
  color: #7a7a7a;
  font-size: 0.85rem;
  padding-left: 0.3rem;
  position: relative;
  bottom: 0.2rem;
}
.option__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #7a7a7a;
  font-size: 0.95rem;
  line-height: 1.6rem;
}
.option__hline {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: whitesmoke;
}

/* PAYMENT SECTION OF POPUP */
.payment {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment__par {
  color: #7a7a7a;
  font-size: 0.95rem;
}
.payment__form {
  position: relative;
}
.payment__form::after {
  position: absolute;
  content: "$";
  top: 50%;
  left: 1.5rem;
  transform: translate(0%, -50%);
  color: #7a7a7a;
  font-family: CommissionerB;
  opacity: 0.4;
}
.payment__input, .payment__submit {
  height: 3.3rem;
  width: 7rem;
  border-radius: 1.8rem;
  border: none;
}
.payment__input {
  margin-right: 1rem;
  border: solid 0.15rem whitesmoke;
  text-align: center;
  font-family: CommissionerB;
  font-size: 0.9rem;
  position: relative;
}
.payment__submit {
  background-color: #3cb4ac;
  color: white;
  font-family: CommissionerSB;
  letter-spacing: 0.01rem;
  font-size: 0.9rem;
  transition: all 0.2s;
}
.payment__submit:hover {
  background-color: #147b74;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}/*# sourceMappingURL=styles.css.map */