@font-face {
  font-family: CommissionerT;
  src: url("../fonts/static/Commissioner-Thin.ttf");
}
@font-face {
  font-family: CommissionerEL;
  src: url("../fonts/static/Commissioner-ExtraLight.ttf");
}
@font-face {
  font-family: CommissionerL;
  src: url("../fonts/static/Commissioner-Light.ttf");
}
@font-face {
  font-family: CommissionerR;
  src: url("../fonts/static/Commissioner-Regular.ttf");
}
@font-face {
  font-family: CommissionerM;
  src: url("../fonts/static/Commissioner-Medium.ttf");
}
@font-face {
  font-family: CommissionerSB;
  src: url("../fonts/static/Commissioner-SemiBold.ttf");
}
@font-face {
  font-family: CommissionerB;
  src: url("../fonts/static/Commissioner-Bold.ttf");
}
@font-face {
  font-family: CommissionerEB;
  src: url("../fonts/static/Commissioner-ExtraBold.ttf");
}
@font-face {
  font-family: CommissionerBl;
  src: url("../fonts/static/Commissioner-Black.ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

.app {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fafafa;
  font-family: CommissionerR;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/*---- HEADER -----*/
.header {
  position: relative;
  background-image: url("../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 26rem;
}
.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}
.header__navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 3rem 11rem;
  z-index: 1;
}
.header__logo, .header__links {
  display: inline;
}
.header__menu {
  position: relative;
  display: none;
  width: 2.5rem;
  height: 2.5rem;
}
.header__menu-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 30%);
}
.header__menu-links {
  position: absolute;
  top: 11rem;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: white;
  width: 87.5%;
  height: 21rem;
  border-radius: 1rem;
  z-index: 2;
  display: grid;
  grid-template-rows: 10fr 1fr 10fr 1fr 10fr;
}
.header__menu-links * {
  align-self: center;
}
.header__menu-links li {
  color: black;
  font-size: 1.7rem;
}
.header__hline {
  background-color: #7a7a7a;
  width: 100%;
  height: 0.01rem;
  opacity: 0.6;
}
.header__link {
  display: inline-block;
  padding-left: 2rem;
  color: white;
  font-size: 0.9rem;
  font-family: CommissionerM;
}
.header__link a {
  z-index: 1;
  transition: all 0.2s;
}
.header__link a:hover {
  cursor: pointer;
  text-decoration: underline;
  -webkit-text-decoration-color: #dddcdc;
          text-decoration-color: #dddcdc;
}

/*----- MAIN CARDS -----*/
.container {
  position: relative;
  top: -6rem;
  width: 48rem;
  height: 118rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1.3fr 1fr 5.7fr;
  grid-row-gap: 1.56rem;
}
.container > * {
  border: 0.1rem solid whitesmoke;
  border-radius: 0.8rem;
  background-color: white;
  position: relative;
}

/* TITLE CARD */
.title {
  display: grid;
  place-items: center;
  padding: 2.5rem 3rem 2rem 3rem;
}
.title__logo {
  position: absolute;
  top: -2.5rem;
}
.title__heading {
  font-family: CommissionerB;
  font-size: 1.9rem;
}
.title__subheading {
  align-self: start;
  font-size: 1.1rem;
  color: #7a7a7a;
  position: relative;
  top: 0.2rem;
}
.title__btn-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0.2rem;
}
.title__btn-item {
  display: inline-block;
}
.title__btn {
  height: 3.5rem;
  width: 13rem;
  border: none;
  border-radius: 2rem;
  background-color: #3cb4ac;
  color: white;
  font-family: CommissionerSB;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  transition: all 0.2s;
}
.title__btn:hover {
  cursor: pointer;
  background-color: #147b74;
}
.title__bookmark {
  display: inline-block;
  position: relative;
  height: 3.5rem;
  width: 11rem;
}
.title__bookmark input {
  display: none;
}
.title__toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #e6e6e6;
  border-radius: 2rem;
}
.title__toggle::before {
  position: absolute;
  content: "";
  height: 3.5rem;
  width: 3.5em;
  border-radius: 50%;
  background-image: url("../images/icon-bookmark.svg");
  background-size: cover;
}
.title__toggle::after {
  position: absolute;
  content: "Bookmark";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  font-family: CommissionerSB;
  color: #7a7a7a;
  padding-left: 2.8rem;
}
.title__bookmark input:checked + .title__toggle {
  background: #f5f9fa;
}
.title__bookmark input:checked + .title__toggle::before {
  background-image: url("../images/icon-bookmark-checked.svg");
}
.title__bookmark input:checked + .title__toggle::after {
  color: #147b74;
  content: "Bookmarked";
}

/* PROGRESS CARD */
.progress {
  display: grid;
  place-items: center;
  padding: 2rem 3rem;
}
.progress__stats {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr 5fr 2fr 5fr;
}
.progress__stat {
  align-self: flex-start;
}
.progress__stat-head {
  font-family: CommissionerB;
  font-size: 2.2rem;
}
.progress__stat-subtitle {
  color: #7a7a7a;
  font-size: 1rem;
  margin-top: 0.4rem;
}
.progress__vline {
  height: inherit;
  width: 0.1rem;
  background-color: #7a7a7a;
  opacity: 0.15;
  margin-left: 1rem;
}
.progress__tracker {
  align-self: center;
  width: 100%;
}
.progress__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 0.8rem;
  border-radius: 0.5rem;
  outline: none;
}
.progress__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

/* ABOUT CARD */
.about {
  padding: 3.5rem 3rem;
}
.about__heading {
  font-family: CommissionerB;
  font-size: 1.3rem;
}
.about__description {
  color: #7a7a7a;
  font-size: 1.03rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.about__rewards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 2rem;
  height: 57rem;
}

/* REWARDS */
.reward {
  border: 0.1rem solid whitesmoke;
  border-radius: 0.8rem;
  padding: 2.5rem 2rem;
  position: relative;
}
.reward--out::after {
  content: "";
  position: absolute;
  background-color: white;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.reward__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reward__header {
  font-family: CommissionerB;
  font-size: 1.25rem;
}
.reward__criteria {
  font-family: CommissionerM;
  color: #3cb4ac;
  font-size: 1rem;
}
.reward__description {
  margin: 1.6rem 0rem 2.3rem 0rem;
  color: #7a7a7a;
  font-size: 1.03rem;
  text-align: justify;
  letter-spacing: 0.01rem;
  line-height: 1.85rem;
}
.reward__footer {
  display: flex;
  justify-content: space-between;
}
.reward__left {
  font-family: CommissionerB;
  font-size: 1.9rem;
}
.reward__left span {
  font-family: CommissionerR;
  font-size: 1rem;
  color: #7a7a7a;
  position: relative;
  bottom: 0.3rem;
  left: 0.35rem;
}
.reward__select {
  height: 3rem;
  width: 10.7rem;
  border-radius: 1.5rem;
  border: none;
  background-color: #3cb4ac;
  color: white;
  font-family: CommissionerM;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  cursor: pointer;
  transition: all 0.2s;
}
.reward__select:hover {
  background-color: #147b74;
}

/* SUPPORT POP-UP CARD */
.support {
  width: 48rem;
  margin: 0 auto;
  padding: 3rem 3.5rem;
  border: 0.1rem solid whitesmoke;
  border-radius: 0.8rem;
  background-color: white;
  position: absolute;
  z-index: 2;
  top: 12rem;
  left: 50%;
  transform: translate(-50%, 0%);
}
.support__exit {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.support__exit:hover {
  cursor: pointer;
}
.support__header {
  font-family: CommissionerB;
  font-size: 1.5rem;
}
.support__description {
  color: #7a7a7a;
  font-size: 1rem;
  margin: 1.5rem 0rem;
}
.support__options {
  display: grid;
  grid-template-rows: repeat(4, -webkit-fit-content);
  grid-template-rows: repeat(4, fit-content);
  grid-row-gap: 1.5rem;
}

/* PAYMENT OPTIONS */
.option {
  border: 0.1rem solid whitesmoke;
  border-radius: 0.8rem;
  padding: 2.2rem 1.8rem 1.3rem 1.8rem;
  position: relative;
  display: block;
  /* Hide default radio button */
  /* Create custom radio button */
}
.option:hover {
  cursor: pointer;
}
.option--clicked {
  border-color: #3cb4ac;
}
.option > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.option__radio {
  position: absolute;
  top: 2.5rem;
  left: 1.8rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  border-radius: 50%;
  border: solid 0.15rem whitesmoke;
  z-index: 1;
  /* Color inside radio button once clicked */
}
.option__radio::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #3cb4ac;
  border-radius: 50%;
  display: none;
}
.option input:hover ~ .option__header--none, .option input:hover ~ .option__header--pledge > .option__header-container > .option__heading {
  color: #3cb4ac;
}
.option input:hover ~ .option__header--out > .option__header-container > .option__heading {
  color: black;
}
.option input:checked ~ .option__radio {
  background-color: white;
}
.option input:checked ~ .option__radio::after {
  display: block;
}
.option--out:hover {
  cursor: default;
}
.option--out::after {
  content: "";
  position: absolute;
  background-color: white;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: 2;
}
.option__header, .option__description {
  margin-left: 3rem;
}
.option__header {
  display: inline-block;
  font-size: 1rem;
}
.option__header--pledge {
  display: flex;
  justify-content: space-between;
}
.option__heading, .option__pledge {
  display: inline-block;
  font-family: CommissionerB;
}
.option__heading {
  font-size: 1rem;
}
.option__pledge {
  padding-left: 1.3rem;
  font-size: 0.9rem;
  color: #3cb4ac;
}
.option__left {
  font-family: CommissionerB;
  font-size: 1.3rem;
}
.option__left span {
  font-family: CommissionerR;
  color: #7a7a7a;
  font-size: 0.85rem;
  padding-left: 0.3rem;
  position: relative;
  bottom: 0.2rem;
}
.option__description {
  margin-top: 1.3rem;
  margin-bottom: 1rem;
  color: #7a7a7a;
  font-size: 0.95rem;
  line-height: 1.6rem;
}

/* PAYMENT SECTION OF POPUP */
.payment {
  padding-top: 1.3rem;
}
.payment__hline {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: whitesmoke;
}
.payment__container {
  margin-top: 1.8rem;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment__par {
  color: #7a7a7a;
  font-size: 0.95rem;
}
.payment__form {
  position: relative;
}
.payment__form::after {
  position: absolute;
  content: "$";
  top: 50%;
  left: 1.5rem;
  transform: translate(0%, -50%);
  color: #7a7a7a;
  font-family: CommissionerB;
  opacity: 0.4;
}
.payment__input, .payment__submit {
  height: 3.3rem;
  width: 7rem;
  border-radius: 1.8rem;
  border: none;
}
.payment__input {
  margin-right: 1rem;
  border: solid 0.1rem whitesmoke;
  text-align: center;
  font-family: CommissionerB;
  font-size: 0.9rem;
  position: relative;
}
.payment__input:focus {
  outline: none;
  border-color: #3cb4ac;
}
.payment__submit {
  background-color: #3cb4ac;
  color: white;
  font-family: CommissionerSB;
  letter-spacing: 0.01rem;
  font-size: 0.9rem;
  transition: all 0.2s;
}
.payment__submit:hover {
  background-color: #147b74;
  cursor: pointer;
}

/* THANKS CARD */
.thanks {
  width: 35rem;
  height: 31rem;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: solid 0.1rem whitesmoke;
  border-radius: 0.7rem;
  padding: 3.5rem;
}
.thanks__img {
  display: block;
  width: 25%;
  margin-inline: auto;
  margin-bottom: 3rem;
}
.thanks__header, .thanks__description {
  text-align: center;
}
.thanks__header {
  font-family: CommissionerB;
  font-size: 1.6rem;
  letter-spacing: 0.01rem;
  margin-bottom: 1.5rem;
}
.thanks__description {
  color: #7a7a7a;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.thanks__btn {
  display: block;
  margin-inline: auto;
  height: 3.1rem;
  width: 7rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #3cb4ac;
  color: white;
  font-family: CommissionerB;
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  transition: all 0.2s;
}
.thanks__btn:hover {
  background-color: #147b74;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 1rem;
  color: #7a7a7a;
}
.footer a {
  color: #3cb4ac;
  transition: all 0.2s;
  font-family: CommissionerM;
  text-decoration: underline;
}
.footer a:hover {
  color: #147b74;
  cursor: pointer;
}

/*----- MEDIA QUERIES -----*/
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    font-size: 12px;
  }
}
@media screen and (min-width: 512px) and (max-width: 767px) {
  :root {
    font-size: 11px;
  }

  .app {
    height: 320rem;
  }

  .header {
    background-image: url("../images/image-hero-mobile.jpg");
    height: 37rem;
  }
  .header__navbar {
    padding-inline: 3rem;
    padding-top: 4rem;
    z-index: 2;
  }
  .header__logo {
    width: 15rem;
  }
  .header__links {
    display: none;
  }
  .header__menu {
    display: inline;
  }
  .header__link {
    color: black;
  }

  .container {
    width: 40rem;
    height: 287rem;
    grid-template-rows: 12fr 17.6fr 70.4fr;
    grid-row-gap: 3rem;
    top: -7rem;
  }

  .title {
    padding-top: 5.5rem;
    padding-bottom: 4.5rem;
  }
  .title__logo {
    top: -3.5rem;
    width: 6.5rem;
    height: 6.5rem;
  }
  .title__heading, .title__subheading {
    text-align: center;
  }
  .title__heading {
    font-size: 2.55rem;
  }
  .title__subheading {
    padding-top: 2rem;
    font-size: 1.7rem;
    line-height: 2.8rem;
  }
  .title__btn-list {
    padding-top: 3rem;
  }
  .title__btn, .title__bookmark {
    height: 6rem;
  }
  .title__btn {
    width: 25.5rem;
    border-radius: 5rem;
    font-size: 1.5rem;
  }
  .title__bookmark {
    width: 6rem;
  }
  .title__toggle {
    border-radius: 50%;
  }
  .title__toggle::before {
    width: 6rem;
    height: 6rem;
  }
  .title__toggle::after {
    content: "";
  }
  .title__bookmark input:checked + .title__toggle::after {
    content: "";
  }

  .progress {
    padding: 4rem 3rem 4.5rem 3rem;
  }
  .progress__stats {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 2.5fr 5fr 2.5fr 5fr;
    place-items: center;
  }
  .progress__stat-head {
    font-size: 4rem;
    text-align: center;
  }
  .progress__stat-subtitle {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.75rem;
  }
  .progress__vline {
    height: 0.25rem;
    width: 10rem;
    margin-left: 0;
    margin: 2.1rem 0rem;
  }
  .progress__tracker {
    margin-top: 4rem;
  }
  .progress__slider {
    height: 1.5rem;
    border-radius: 3rem;
  }

  .about {
    padding: 4rem 3rem;
  }
  .about__heading {
    font-size: 2.2rem;
  }
  .about__description {
    font-size: 1.68rem;
    line-height: 3rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  .reward {
    padding: 3rem 2.5rem;
  }
  .reward__title {
    flex-direction: column;
    align-items: start;
  }
  .reward__header {
    font-size: 1.8rem;
  }
  .reward__criteria {
    font-size: 1.7rem;
    margin-top: 0.6rem;
  }
  .reward__description {
    font-size: 1.7rem;
    text-align: start;
    line-height: 2.9rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .reward__footer {
    flex-direction: column;
  }
  .reward__left {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  .reward__left span {
    font-size: 2rem;
    bottom: 0.7rem;
  }
  .reward__select {
    height: 6rem;
    width: 20rem;
    border-radius: 5rem;
    font-size: 1.6rem;
  }

  .support {
    width: 40rem;
    top: 15rem;
  }

  .thanks {
    width: 40rem;
    height: 47rem;
    border-radius: 1rem;
    padding: 4rem;
  }
  .thanks__img {
    width: 30%;
    margin-bottom: 4.5rem;
  }
  .thanks__header {
    font-size: 2.2rem;
  }
  .thanks__description {
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .thanks__btn {
    height: 5.5rem;
    width: 13rem;
    border-radius: 3rem;
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */